@import "bulma/bulma.sass" 

#root
    display: grid
    max-width: 1280px
    min-width: 380px
    margin: 0 auto
    padding: 1rem
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
    text-align: center

body 
    display: flex
    margin: 0
    min-width: 320px
    min-height: 100vh
    line-height: 1
    background-color: $light

.navbar
    display: flex
    align-items: center
    background-color: $light

.burger
    margin: 20px 20px 0 0
    cursor: pointer

.hero
    height: 3rem
    padding: 1rem

.card
    height: 210px
    width: 160px 

.columns   
    margin-bottom: -1rem !important

.disabled
    pointer-events: none

#footer
    background-color: $light
    border-top: 1px solid lightgray
    margin-top: 2rem
    padding: 1.5rem 0

#options
    cursor: pointer
    margin-bottom: 2rem

#icon
    color: unset
