@import "bulma/bulma.sass" 

#root
    display: grid
    max-width: 1280px
    min-width: 420px
    margin: 0 auto
    padding: 1rem
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
    text-align: center

body 
    display: flex
    margin: 0
    min-width: 320px
    min-height: 100vh
    line-height: 1
    background-color: $light

.card
    height: 236px
    width: 180px    

.hero-body
    height: 160px    
    padding: 2rem

.disabled
    pointer-events: none

.burger
    margin: 20px 20px 0 0
    cursor: pointer

.navbar
    display: flex
    align-items: center
    background-color: $light

#footer
    background-color: $light
    border-top: 1px solid lightgray
    margin-top: 2rem
    padding: 1.5rem 0

#options
    cursor: pointer
    margin-bottom: 2rem

#icon
    color: unset
